/*
    Variables
*/
$green: green;
$grey: grey;
$red: red;

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    background-size: cover;
    &.NOTSET {
        background-color: $grey;
    }
    &.SUNNY {
        background-image: url('../assets/images/yes.jpg');
    }
}


.weather-container {
    display: flex;
    flex: 1;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    .weather-status {
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        color: white;

        &.online {
            background-color:$green;
        }

        &.offine {
            background-color:$green;
        }

        &.checking {
            background-color: $grey;
        }
    }    
}